
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 center-text">Welcome to the dashboard!</h1>
    <p class="center-text">We offer a range of features to add power to your work with Google Sheets.</p>
    <p class="center-text"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

  <%= simple_form_for @sheet do |f| %>
    <%= f.input :url %>
    <%= f.input :sheet_name %>
    <%= f.input :column_row %>
    <%= f.button :submit %>
  <% end %>
