<!DOCTYPE html>
<html>
<head>
  <title>Google sheets engine</title>
  <%= stylesheet_link_tag    "google_sheets_engine/application", media: "all" %>
  <%= javascript_include_tag "google_sheets_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/google_sheets_engine/nav" %>
  <%= yield %>

</body>
</html>
